<div class="header">
  <div class="search">
    <a class="logo" href="#">
      <img src="../../../assets/images/logo.png" width="50" height="50" alt="logo" />
    </a>
    <form class="search-form">
      <input
        class="search-input"
        type="text"
        placeholder="What are you want to find out?"
        name="search"
      />
      <button class="search-button" type="submit">search</button>
    </form>
    <button type="button" class="settings-button">
      <img src="../../../assets/images/settings.svg" width="15" height="15" />
    </button>
  </div>
  <div>
    <span>Your Name</span>
    <a href="#" class="user-profile">
      <img src="../../../assets/images/user.svg" width="19" height="19" />
    </a>
  </div>
</div>
